<html>
<meta http-equiv="Refresh" content="0;url=defaultsite" />


<!-- Home -->
<div class="border">
  <!-- <div style="background-image: url('road_car.jpeg');"></div> -->
  <!-- <img src="road_car.jpeg" alt="" /> -->
  <div class="bgimg-1" ></div>
  <div class="flex-container-big">
    <div class="caption">
      <h1 id="home">Oldtimer Botschafter</h1>
    </div>
    <div class="flex-container">
      <div class="text">
        <p>
          Der Oldtimer muss verkauft werden - wir wissen wie das geht.
          </br>
          </br>Unsere Kunden möchten oder müssen sich von Oldtimern trennen. Ähnlich wie ein Makler helfen wir beim Verkauf. Full-Service: wir nehmen unseren Kunden das Allermeiste ab. Wir unterstützen den Verkauf, erzielen für unsere Kunden die richtigen Preise und werden dafür nur von unseren Kunden bezahlt. OldtimerBotschafter kauft keine Autos und hat deswegen keine Interessenkonflikte. Eine unabhängige, qualifizierte Dienstleistung von erfahrenen Fachleuten, dafür stehen wir.
          </br>
          </br>Wir vermitteln ausschließlich Oldtimer d.h. PKW die über 30 Jahre alt sind, mit oder ohne H-Kennzeichen, mit oder ohne Zulassung oder TÜV. Unser Standort ist das Rhein-Main-Gebiet.
        </p>
      </div>
      <div class="img">
        <%= image_tag('IMG_0018.png', :class => "image")%>
      </div>
    </div>
  </div>
<!-- Unsere Kunden -->
  <div class="bgimg-2" ></div>
  <div class="flex-container-big">
    <div class="caption">
      <h1 id="Unsere_Kunden">Unsere Kunden</h1>
    </div>
    <div class="flex-container">
      <div class="img">
        <%= image_tag('IMG_2713.jpeg', :class => "image")%>
      </div>
      <div class="text2">
        <p>Diskretion ist Ehrensache, aber ein paar typische Situationen unserer Kunden kennen wir aus Erfahrung.
        </br>
        </br>Kinder haben nicht das gleiche Hobby wie ihre Eltern
        Über Jahre hinweg haben der Vater oder die Mutter Herz und Geld in das Oldtimer Hobby investiert. Jetzt muss das gute Stück verkauft, aber nicht verramscht werden. Wir kümmern uns um den gesamten Verkaufsprozess und legen Ihnen am Ende den Kaufvertrag zur Unterschrift vor. Sie entscheiden.
        </br>
        </br>Mit dem Alter ändern sich die Umstände
        Leider bleiben wir nicht immer so aktiv wie noch in der Mitte des Lebens. Viele Jahre hatten unsere Kunden große Freude mit ihrem Oldtimer, jetzt ist es an der Zeit, sich von dem guten Stück zu trennen. Dazu fehlt oftmals die Energie und das Know-how. Auf der Suche nach einem qualifizierten Käufer zu einem fairen Preis unterstützen wir.
        </br>
        </br>Die Sammlung ist zu groß geworden
        Wer einen Oldtimer besitzt, der weiß wie groß die Versuchung ist, einen weiteren zu kaufen. Wenn der Fuhrpark nicht mehr in die Garage passt, es einfach vernünftig ist, sich von einem Wagen zu trennen, aber die Zeit fehlt, sich selbst darum zu kümmern, dann rufen unsere Kunden uns an.
        </br>
        </br>Nicht zu unseren Kunden gehören Fachleute, die den Verkauf selbst betreiben. Wer die Zeit und das Engagement hat, die notwendige Aufrüstung des Wagens, die Ermittlung des richtigen Angebotspreises, das Erstellen des Exposé, den Vertrieb und vieles mehr selbst zu übernehmen, ist bei uns nicht an der richtigen Stelle.
        </br>
        </br>Wir vermitteln den Verkauf von Oldtimern. Faustregel: Unsere Dienstleistungen lohnen sich für den Verkäufer ab einem Fahrzeugwert von mindestens 50.000 Euro.
        </p>
      </div>
    </div>
  </div>
  <!-- Systematik und Vorgehen-->
  <div class="bgimg-3" ></div>
  <div class="flex-container-big">
    <div class="caption">
      <h1 id="S_u_V">Systematik und Vorgehen</h1>
    </div>
    <div class="flex-container">
      <div class="text">
        <ul>
          <p>
          1. Kennenlernen</br>
          In einem unverbindlichen und kostenfreien Vorgespräch lernen Sie uns und wir Ihren Oldtimer kennen. Wir schätzen in etwa den zeitlichen und finanziellen Aufwand, den Wagen verkaufsbereit zu machen und zum erfolgreichen Verkauf zu bringen. In etwa können wir Ihnen sagen, welchen Preis Sie erzielen könnten und wie lange es dauern wird. All dies sind unverbindliche Erfahrungswerte.
          </br>
          </br>
          Falls Sie uns beauftragen:
          </p>
          <p>
          2. Verkaufsvorbereitung</br>
          Wir veranlassen, falls nötig, eine aktuelle Hauptuntersuchung (TÜV), lassen ein Classic-Data-Gutachten anfertigen und den Wagen optisch aufbereiten. Diese Dienstleistungen erfolgen durch qualifizierte Spezialisten. Danach erstellen wir ein Verkaufs-Exposé einschließlich der dafür notwendigen Photos. Falls der Wagen zwischenzeitlich untergebracht werden soll, dann organisieren wir das für Sie.
          </p>
          <p>
          3. Angebotspreis</br>
          Wir beraten mit Ihnen über den geeigneten Angebotspreis. Dazu ermitteln wir die aktuelle Marktlage für diesen Typ Fahrzeug, und beziehen die Informationen aus dem Gutachten mit ein. Preis und Geschwindigkeit des Verkaufs sind gegensätzliche Faktoren. Wer schnell verkaufen möchte, muß oftmals Abschläge hinnehmen. Geduld hingegen zahlt sich meistens aus.
          </p>
          <p>
          4. Ins Schaufenster</br>
          Der Oldtimer wird auf den spezialisierten Online-Plattformen inseriert, je nach Fahrzeug ggf. auch in Printmedien und in Showrooms für hochwertige Automobile. Wir kontaktieren qualifizierte Händler und ggf. Sammler aus unserem Netzwerk. Vom jeweiligen Fahrzeug hängt es ab, ob wir den Besuch von Messen oder Oldtimertreffen, sowie die Teilnahme an Auktionen empfehlen.
          </p>
          <p>
          5. Vertrieb</br>
          Wir sprechen mit den Interessenten, beantworten Fragen, organisieren und überwachen Probefahrten. Wir machen das Follow-up und führen die Preis- und Vertragsverhandlungen. Wir sind in Ihrem Auftrag telefonisch erreichbar und beantworten die eingehende Email Korrespondenz.
          </p>
          <p>
          6. Kaufvertrag</br>
          Wir legen Ihnen den durchverhandelten Kaufvertrag zur Entscheidung vor. Wir stellen sicher, dass der Wagen erst dann zum Käufer übergeht, wenn Sie Ihr Geld erhalten haben.
          </br>
          </br>Im Anschluß an den erfolgreichen Verkauf bezahlen Sie uns. Wichtig: Nur bei einem Verkauf entstehen Ihnen Kosten für den OldtimerBotschafter.
          </p>
        </ul>
      </div>
      <div class="img_1">
        <%= image_tag('IMG_0340.jpeg', :class => "image")%>
        <%= image_tag('IMG_2441.jpeg', :class => "image")%>
      </div>
    </div>
  </div>
  <!-- Preise und Kosten -->
  <div class="bgimg-4" ></div>
    <div class="flex-container-big">
      <div class="caption">
        <h1 id="Preise_und_Kosten" >Preise und Kosten</h1>
      </div>
      <div class="flex-container">
        <div class="img">
          <%= image_tag('IMG_2449.jpeg', :class => "image")%>
        </div>
        <div class="text2">
          <p>OldtimerBotschafter wird ausschließlich von Ihnen bezahlt. Wir nehmen keine Provisionen von Dritten. So wahren wir unsere Unabhängigkeit und vermeiden Interessenkonflikte.
          </br>
          </br>Für den erfolgreichen Verkauf Ihres Oldtimers, und nur dann, stellen wir 7% des Verkaufspreises, mindestens 3.800 Euro, zuzüglich 19% Mehrwertsteuer in Rechnung. Damit sind unsere Zeit, unser Know-how und das von uns erstellte Exposé vergütet.
          </br>
          </br>Ein hoher Verkaufspreis und eine schnelle Abwicklung für Ihren Oldtimer sind in unserem Interesse. Hier haben wir die gleichen Ziele wie unsere Kunden.
          </br>
          </br>Kosten für Dienstleistungen von Dritten wie bspw. Hauptuntersuchung, Gutachten, Aufbereitung, Reparaturen, Garagenmiete, Transporte, Stellplatzmieten, Anzeigen und Inserate werden von unseren Kunden direkt bezahlt. Alle diese Aufwände werden vorab besprochen und schriftlich genehmigt. Nichts kommt überraschend.
          </br>
          </br>Lohnt sich der Aufwand? Zufriedene Kunden sind unser Maßstab. Unsere Dienstleistung ist nicht billig, hat aber ein erstklassiges Preis-Leistungs-Verhältnis. Es ist unser Anspruch, dass unsere Kunden durch uns Preise erzielen können, die 20%< höher sind als Do-It-Yourself ohne uns.
          </p>
        </div>
      </div>
    </div>
  <!-- Über uns -->
  <div class="bgimg-5" ></div>
  <div class="flex-container-big">
    <div class="caption">
      <h1 id="Uber_uns">Über uns</h1>
    </div>
    <div class="flex-container">
      <div class="text">
        <p>Was wäre ein OldtimerBotschafter ohne eigene Oldtimer? Seit über 20 Jahren betreiben wir das Oldtimer Hobby aktiv. Wir sind in Automobilclubs aktiv, nehmen an Orientierungsfahrten und anderen Veranstaltungen teil, kennen die ‚Szene‘, die richtigen Werkstätten, Verkaufsplätze und vieles mehr. In unserer Garage stehen eine Alfa Romeo Giulia Baujahr 1962 und ein Triumph TR5 PI Baujahr 1968.
        </br>
        </br>Gerade erst im Jahr 2021 haben wir unseren eigenen Ford Thunderbird Baujahr 1957 mit der hier beschriebenen Methode erfolgreich verkauft. Unsere Kunden nutzen unsere Erfahrung. Wir sprechen ihre Sprache.
        </p>
      </div>
      <div class="img">
        <%= image_tag('IMG_2593.jpeg', :class => "image")%>
      </div>
    </div>
  </div>
  <!-- Kontakt-->
  <div class="bgimg-6" ></div>
  <div class="flex-container-big">
    <div class="caption">
      <h1 id="Kontakt">Kontakt</h1>
    </div>
    <div class="flex-container">
      <div class="img">
        <%= image_tag('IMG_2556.jpeg', :class => "image")%>
      </div>
      <div class="text2">
        <p>Bitte rufen Sie uns an oder schreiben Sie uns eine Email.
        </br>Patrick W. Diemer
        </br>Telefon: +49 (0) 171 694 00 76
        </br><a id="email" href=mailto:info@oldtimerbotschafter.de>info@oldtimerbotschafter.de</a>
        <!-- </br>
        </br>Impressum: -->
        </p>
      </div>
    </div>
  </div>
  <div class="bgimg-7" >
    <div class="top">
      <a href="#home" id="top"><%= image_tag('back-to-top-icon-png-23.jpeg', :class => "top-b")%></a>
    </div>
    <div class="text-i">
      <p id="impressum">Impressum: Kapellenstraße 17, 65719 Hofheim, Germany | USt-ID: 046 812 03064</p>
    </div>
  </div>
</div>
</html>
